@page
@model bazy.Pages.DodajWynikModel

@{
    ViewData["Title"] = "DodajWynik";
}

<h1>DodajWynik</h1>

<h4>Zawodnik</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Imię zawodnika</label>
                <input asp-for="Zawodnik.imie_zawodnika" class="form-control" />
                <span asp-validation-for="Zawodnik.imie_zawodnika" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Nazwisko Zawodnika</label>
                <input asp-for="Zawodnik.nazwisko_zawodnika" class="form-control" />
                <span asp-validation-for="Zawodnik.nazwisko_zawodnika" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Kraj pochodzenia Zawodnika</label>
                <input asp-for="Zawodnik.kraj_pochodzenia" class="form-control" />
                <span asp-validation-for="Zawodnik.kraj_pochodzenia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Miejscowość zawodów</label>
                <input asp-for="Miejscowosc.nazwa_miejscowosci" class="form-control" />
                <span asp-validation-for="Miejscowosc.nazwa_miejscowosci" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="wynik" class="control-label"></label>
                <input asp-for="wynik" class="form-control" />
                <span asp-validation-for="wynik" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>

    <div class="col-md-8">
        <h4>Wyniki</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>ID Wyniku</th>
                    <th>Wynik</th>
                    <th>ID Zawodnik</th>
                    <th>Imię zawodnika</th>
                    <th>Nazwisko zawodnika</th>
                    <th>Kraj pochodzenia</th>
                    <th>Miejscowość</th>
                    <th>Kraj</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.WynikiZawodnicy)
                {
                    <tr>
                        <td>@item.idwyniki</td>
                        <td>@item.wynik</td>
                        <td>@item.idzawodnicy</td>
                        <td>@item.Zawodnik.imie_zawodnika</td>
                        <td>@item.Zawodnik.nazwisko_zawodnika</td>
                        <td>@item.Zawodnik.kraj_pochodzenia</td>
                        <td>@item.Miejscowosci.nazwa_miejscowosci</td>
                        <td>@item.Miejscowosci.kraj_miejscowosci</td>
                        <td>
                            <form method="post" asp-page-handler="Delete" asp-route-id="@item.idwyniki">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@if (ViewData["Message"] != null)
{
    <div class="alert alert-info" role="alert">
        @ViewData["Message"]
    </div>
}

<div>
    <a asp-page="Index">Back to List</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}